div {
    text-align: center;
    font-size: x-large;
}

img {
    display : block;
    margin: auto;
    width: 40%;
    height: 250px;
}

.error-output {
    margin-left: 10px;
    font-size: 14px;
    font-style: italic;
    color: red;
}